.pagination {
    margin: 0 auto;
    width: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.pagination-btn {
    border: 2px solid blue;
    border-radius: 5px;
    padding: 8px 16px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 40px;
}

.pagination-info {
    display: flex;
    justify-content: center;
    align-items: center;
}