.items-container {
    width: 100%;
    margin: 0 auto;
}

.list-items {
    list-style-type: none;
}

.item {
    background-color: #eceff1;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    box-sizing: border-box;
    margin: 15px;
}

.item-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}
