.App {
    text-align: center;
}
a:-webkit-any-link {
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: 2px solid blue;
    border-radius: 5px;
    padding: 12px 32px;
    width: 288px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 40px;
}

.edit-news-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}